.zi-button{
    display:flex;
    justify-content: space-between;
    margin-top:6px;
}
.zi-button h6{
    color:red;
    font-size:19px;
    padding-top:16px;
    font-weight:400;
}
.zi-button button{
    background-color:#5065f2;
    color:white;
    margin-top:17px;
    padding:13px;
    width:161px;
    font-size:21px;
    font-weight:bold;
    border:0;
    border-radius:8px;
} 