.line{
    display: grid;
    grid-template-columns: 16% 74% 10%;
    align-items: center;
    padding: 10px 0 12px 0;
    border-bottom:2px solid hsl(240deg 4% 95%);
}
.line-content h4{
    margin:0;
    color: hsl(225deg 6% 13%);
    font-size: 13px;
    font-weight: 900;
}
.line-content span{
    color: hsl(220deg 3% 62%);
    font-size: 12px;
    font-weight: 600;
}
.images img{
    width: 35px;
}
.images{
    margin-top:3px;
}
.third-section{
    padding: 14px 14px 0 14px;
}
.credits h3{
    color: hsl(225deg 6% 13%);
    font-size: 14px;
    font-weight: 900;
    line-height:0;
}
.credits span{
    color: hsl(220deg 3% 62%);
    font-size: 13px;
    font-weight: 600;
}
.credits{
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: baseline;
    background: hsl(210deg 33% 98%);
    Width: 87%;
    margin: 0 14px;
    border-radius: 17px;
    padding-left:16px;
    height: 140px;
    margin-top:8%;
    margin-bottom: 8%;
}
.credits h2{
    color:hsl(258deg 70% 61%);
    font-size: 18px;
    font-weight: 900;
}
.buttons{
    display: grid;
    grid-template-columns: 66px 66px;
    gap: 12px;
    padding:10px  0 42px;
    margin-left:39px;
}
.dis{
    color: hsl(220deg 3% 56%);
    background: white;
    font-weight: 600;
    padding: 6px 6px 5px 5px;
    border:none;
}
.dis.upgrade{
    color:hsl(259deg 47% 60%);
    background: hsl(270deg 88% 94%);
}
.b-bar{
    display: grid;
    grid-template-rows: 73% 10%;
    justify-items: center;
}
.b-bar figcaption{
    font-size: 10px;
    color: hsl(220deg 3% 62%);
    font-weight: 600;
}
.bottom-bar{
    display: grid;
    padding: 0 6px;
    gap: 8px;
    grid-template-columns: 19% 17% 17% 20% 18%;
    padding-top: 7%;
    border-top: 1px solid;
    align-items:center;
    border-top: 2px solid hsl(240deg 4% 95%);
    padding-bottom:16px;
}
.cal{
    color:hsl(185deg 99% 42%);
}